
body{
    background-color: #c4c4c4;  
 
 }
 
 .tudo{
     min-height: calc(100vh - 80px);
 }
 
 li, a, button{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #ecf0f1;
     text-decoration: none;
 }
 
 header{
     box-sizing: border-box;
     background-color: #24252A;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 20px 10%;
     margin-top: -15px;
     margin-left: -8px;
     margin-right: -8px;
 }
 
 .logo{
     cursor: pointer;
     margin-right: auto;
     width: 128px;
     height: 17px;
 }
 
 #nav-link{
     list-style: none;
 }
 
 #nav-link li{
     display: inline-block;
     padding: 0px 20px;
 }
 
 #nav-link li a {
    transition: all 0.3s ease 0s;
 }
 
 #nav-link li a:hover {
     color: #0088a9;
  }
 
  #logout-button{ 
    margin-left: 10px;
    padding: 9px 25px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#logout-button:hover {
    color: #0088a9;
 }

 #contact-button{
     padding: 9px 25px;
     background-color: rgba(0,136,169,1);
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 
 #contact-button:hover{
     background-color: rgba(0,136,169,0.8);
 }
 
 
 
 h1{
    font-variant:small-caps  ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

 .about-content{
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    align-items: center;
   position: fixed;
    left: 27%;
    right: 27%;
 }
.about-text{
    max-width: 700px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
}

.about-text p{
    /*font-size: 10px;*/
   font-size: clamp(6px, 1vw, 16px);
}
.about-title{
    align-items: center;
    text-align: center;
}


 .fachadaloja{
     float: left;
     margin: 20px;
     max-width: 338px; /* 456px;*/
     max-height: 326px; /*475px;*/
     height: 100%;
     width: 100%;
     shape-outside: circle();
 }

 
 footer{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 13px;
     text-align: center;
     background-color: #24252A;
     color: #fff;
     height: 80px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0%;
 }
 
 #conta-options{
    list-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    background: #24252A;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
    position: absolute;
    top: 3em;
    opacity: 1;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

#conta-options li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    background: #303035;
}


#conta-options li a:hover{
    color: #0088a9;
    transition: all 0.3s ease 0s;
}